@font-face {
    font-family: PermanentMarker;
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: OxygenLight;
    src: url("../fonts/Oxygen-Light.ttf");
}

body {
    margin: 0;
    background-color: #202020;
    color: #ffffff;
}

h1 {
    font-family: PermanentMarker;
    font-size: 48pt;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: OxygenLight;
    font-size: 18pt;
    margin: 0;
    text-align: center;
}

p {
    font-family: OxygenLight;
    font-size: 12pt;
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.center {
    margin: 0 auto;
}

#social {
    width: 140px;
    margin-top: 20px;
}

#social a {
    margin: 0 5px;
}

#info {
    width: 900px;
    height: 300px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#contact:hover {
    text-decoration: underline;
    color: #aaaaaa;
}